
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f2f5f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: none;
}

h1 {
    font-size: 3rem;
    color: #d5d8db;
    text-align: center;
    text-shadow:
        0 0 5px #16169b,
        0 0 10px #356EA9,
        0 0 15px #356EA9,
        0 0 20px #356EA9,
        0 0 30px #00ffab,
        0 0 40px #356EA9,
        0 0 50px #356EA9;
}

.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
}

.input-section,
.output-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1; 
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.input-section textarea {
    width: 418px;
    height: 330px;
    font-size: 32px;
    margin: 10px;
    border: transparent;
    border-radius: 5px;
}

.validation-msg {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 12px;
    margin-bottom: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

.buttons button {
    width: 328px; 
    height: 67px; 
    background-color: #356EA9;
    color: white;
    font-size: 16px;
    border: #333;
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.buttons button:hover {
    background-color: #1c005e;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.output-image {
    width: 100%;
    max-width: 300px;
}

.output-section textarea {
    width: 100%;
    height: 150px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.output-section button {
    width: 328px; 
    height: 67px; 
    background-color: #38d12a;
    color: whitesmoke;
    border: #181717;
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones agregadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.output-section button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Mayor sombra al pasar el mouse */
    transform: scale(1.05); 
}

footer {
    background-color: transparent;
    width: 100%;
    text-align: center;
    margin: 0%;
    
}

footer p {
    font-size: 0.875rem;
    color: #666;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }
    
    .input-section,
    .output-section {
        width: 100%;
        max-width: none;
    }

    .buttons {
        width: 100%;
        align-items: center;
    }

    .buttons button,
    .output-section button {
        width: 100%;
        max-width: 328px;
        height: 67px;
    }

    .output-image {
        max-width: 200px;
    }
}
